# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Env
.env
.secrets

# Static
static/CACHE/